In [1]:
import pandas as pd

In [2]:
table = pd.read_csv("synthetic_stock_data.csv")

In [3]:
table

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
0,2022-01-01,Uber,Technology,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
1,2022-01-02,Tesla,Automotive,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish
2,2022-01-03,Panasonic,Finance,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish
3,2022-01-04,Tencent,Automotive,98.851663,101.303783,96.998218,98.851663,153694,5.577481e+11,14.582696,1.377740,0.036166,0.705853,Stable
4,2022-01-05,Wells Fargo,Automotive,98.391118,99.990486,96.230707,98.391118,169879,8.607714e+11,37.491114,3.110198,0.034770,-0.768354,Stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-09-22,Pfizer,Energy,121.428608,123.693983,119.425495,121.428608,54757,4.469189e+10,22.313632,0.083782,0.018820,0.627218,Stable
996,2024-09-23,Panasonic,Consumer Goods,122.302376,124.731488,120.182416,122.302376,69097,1.116972e+11,22.945209,3.395996,0.017438,0.429906,Bullish
997,2024-09-24,Goldman Sachs,Energy,120.638302,122.485538,118.135033,120.638302,191467,5.989330e+11,21.854227,0.382841,0.048033,-0.502406,Bearish
998,2024-09-25,Lyft,Aerospace,120.228806,123.124765,117.959012,120.228806,197313,9.591669e+10,27.240528,2.103806,0.018396,0.820433,Bullish
999,2024-09-26,Boeing,Energy,120.558294,123.699478,117.628380,120.558294,153892,3.766169e+11,8.175260,3.008411,0.020437,-0.691168,Bullish

### Wybieranie danych

SELECT col1, col2
FROM table;

In [4]:
table[["Company", "Open"]]

           Company        Open
0             Uber  100.000000
1            Tesla  100.071106
2        Panasonic   99.857828
3          Tencent   98.851663
4      Wells Fargo   98.391118
..             ...         ...
995         Pfizer  121.428608
996      Panasonic  122.302376
997  Goldman Sachs  120.638302
998           Lyft  120.228806
999         Boeing  120.558294

[1000 rows x 2 columns]

### Filtrowanie wierszy

SELECT *
FROM table
WHERE age > 30;

In [7]:
table[table["Open"] > 100]

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
1,2022-01-02,Tesla,Automotive,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish
6,2022-01-07,Adobe,Technology,100.550082,102.752035,98.640863,100.550082,104886,1.852784e+11,22.361674,1.931616,0.047124,0.007377,Bullish
7,2022-01-08,Oracle,Technology,100.901312,103.512423,98.379953,100.901312,187337,3.002963e+11,5.445021,2.869206,0.043794,0.658301,Stable
8,2022-01-09,Novartis,Aerospace,101.063050,104.073397,98.835073,101.063050,137498,3.106270e+11,39.734539,2.078019,0.018959,0.016283,Stable
21,2022-01-22,Square,Finance,100.931276,103.536520,98.412594,100.931276,180608,5.349214e+11,16.202094,2.156903,0.045970,0.640648,Stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-09-22,Pfizer,Energy,121.428608,123.693983,119.425495,121.428608,54757,4.469189e+10,22.313632,0.083782,0.018820,0.627218,Stable
996,2024-09-23,Panasonic,Consumer Goods,122.302376,124.731488,120.182416,122.302376,69097,1.116972e+11,22.945209,3.395996,0.017438,0.429906,Bullish
997,2024-09-24,Goldman Sachs,Energy,120.638302,122.485538,118.135033,120.638302,191467,5.989330e+11,21.854227,0.382841,0.048033,-0.502406,Bearish
998,2024-09-25,Lyft,Aerospace,120.228806,123.124765,117.959012,120.228806,197313,9.591669e+10,27.240528,2.103806,0.018396,0.820433,Bullish
999,2024-09-26,Boeing,Energy,120.558294,123.699478,117.628380,120.558294,153892,3.766169e+11,8.175260,3.008411,0.020437,-0.691168,Bullish

### Sortowanie

SELECT *
FROM table
ORDER BY age DESC;

In [6]:
table.sort_values("Sector", ascending=False)

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
0,2022-01-01,Uber,Technology,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
584,2023-08-08,Shell,Technology,115.118679,116.415284,112.869217,115.118679,77532,6.862818e+11,34.241808,0.026731,0.029616,0.282050,Bearish
639,2023-10-02,Toyota,Technology,117.846360,119.488982,115.115877,117.846360,111877,3.762966e+11,21.337373,2.922499,0.036236,0.724423,Bearish
637,2023-09-30,Meta,Technology,120.105497,123.006959,118.523507,120.105497,174454,3.178785e+11,7.020937,4.767675,0.023994,-0.111632,Stable
632,2023-09-25,MasterCard,Technology,120.234928,121.511283,118.213488,120.234928,87744,7.654257e+11,17.371126,2.267895,0.022113,0.985887,Stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2023-08-25,Toyota,Aerospace,113.809592,116.638264,110.729453,113.809592,112292,1.570077e+11,13.641760,2.346426,0.029595,0.354290,Stable
149,2022-05-30,Tencent,Aerospace,96.228014,98.106425,94.177698,96.228014,169101,3.337051e+09,7.004809,4.807567,0.021190,-0.163418,Bearish
821,2024-04-01,BP,Aerospace,121.034722,122.743850,119.709793,121.034722,51828,7.864897e+11,32.868421,3.131612,0.041723,0.204513,Bearish
220,2022-08-09,PayPal,Aerospace,88.275885,89.382357,86.563537,88.275885,183121,3.988891e+11,8.917757,3.478987,0.041237,-0.224331,Stable
400,2023-02-05,IBM,Aerospace,109.866898,112.849110,107.240470,109.866898,160226,1.545044e+11,20.021391,4.357342,0.047226,0.028979,Bullish

### Agregacje

SELECT col1, AVG(col2)
FROM table
GROUP BY col1;

In [10]:
table.groupby("Company")['Open'].mean()

Company
AMD            109.493688
Adobe          108.946566
Airbus         111.300863
Alibaba        109.463744
Amazon         111.723653
                  ...
Toyota         111.718418
Twitter        110.881408
Uber           110.841806
Visa           108.912266
Wells Fargo    109.753846
Name: Open, Length: 63, dtype: float64

### Łączenie tabel

SELECT *
FROM table1
JOIN table2
ON table1.id = table2.id;

In [14]:
table1 = table.iloc[:,:2]
table2 = table.iloc[:,1:]

In [27]:
merged_table = pd.merge(table1, table2, left_on="Company", right_on="Company")
merged_table

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
0,2022-01-01,Uber,Technology,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
1,2022-01-01,Uber,Technology,92.278528,94.948778,90.803581,92.278528,80535,6.835007e+11,26.075098,1.345098,0.046678,0.834441,Stable
2,2022-01-01,Uber,Consumer Goods,95.188667,97.451578,93.192414,95.188667,158066,1.408785e+11,23.210380,3.903659,0.012096,0.202768,Bullish
3,2022-01-01,Uber,Energy,93.548490,96.221600,91.929231,93.548490,148806,7.324524e+11,30.742696,4.862100,0.013072,-0.917864,Bullish
4,2022-01-01,Uber,Aerospace,94.254003,95.388359,92.064753,94.254003,143426,7.218113e+11,24.794249,3.355276,0.019915,0.062714,Bearish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16841,2024-09-26,Boeing,Aerospace,114.195556,116.613600,111.877551,114.195556,199453,7.829133e+11,26.215130,2.705014,0.032830,0.026521,Stable
16842,2024-09-26,Boeing,Finance,112.653205,115.039619,111.376564,112.653205,170430,7.245932e+11,39.657311,0.946967,0.019274,-0.541213,Stable
16843,2024-09-26,Boeing,Aerospace,127.815367,131.168764,124.291407,127.815367,196400,1.065878e+11,38.355701,1.131376,0.043600,-0.172588,Stable
16844,2024-09-26,Boeing,Finance,128.001566,131.335904,124.323044,128.001566,107545,7.827024e+11,26.107251,4.488718,0.010575,0.454954,Bullish
16845,2024-09-26,Boeing,Energy,120.558294,123.699478,117.628380,120.558294,153892,3.766169e+11,8.175260,3.008411,0.020437,-0.691168,Bullish

### Wartości NULL

SELECT *
FROM table
WHERE col1 IS/IS NOT NULL;

In [31]:
table.iloc[0:3, 2] = pd.NA
table

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
0,2022-01-01,Uber,<NA>,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
1,2022-01-02,Tesla,<NA>,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish
2,2022-01-03,Panasonic,<NA>,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish
3,2022-01-04,Tencent,Automotive,98.851663,101.303783,96.998218,98.851663,153694,5.577481e+11,14.582696,1.377740,0.036166,0.705853,Stable
4,2022-01-05,Wells Fargo,Automotive,98.391118,99.990486,96.230707,98.391118,169879,8.607714e+11,37.491114,3.110198,0.034770,-0.768354,Stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-09-22,Pfizer,Energy,121.428608,123.693983,119.425495,121.428608,54757,4.469189e+10,22.313632,0.083782,0.018820,0.627218,Stable
996,2024-09-23,Panasonic,Consumer Goods,122.302376,124.731488,120.182416,122.302376,69097,1.116972e+11,22.945209,3.395996,0.017438,0.429906,Bullish
997,2024-09-24,Goldman Sachs,Energy,120.638302,122.485538,118.135033,120.638302,191467,5.989330e+11,21.854227,0.382841,0.048033,-0.502406,Bearish
998,2024-09-25,Lyft,Aerospace,120.228806,123.124765,117.959012,120.228806,197313,9.591669e+10,27.240528,2.103806,0.018396,0.820433,Bullish
999,2024-09-26,Boeing,Energy,120.558294,123.699478,117.628380,120.558294,153892,3.766169e+11,8.175260,3.008411,0.020437,-0.691168,Bullish

In [32]:
table[table['Sector'].isnull()]

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend
0,2022-01-01,Uber,<NA>,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish
1,2022-01-02,Tesla,<NA>,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish
2,2022-01-03,Panasonic,<NA>,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish

### Dodawanie kolumn

ALTER TABLE table
ADD COLUMN new_col INT;

In [34]:
table["new_col"] = table["High"] - table["Low"]
table

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend,new_col
0,2022-01-01,Uber,<NA>,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish,3.558311
1,2022-01-02,Tesla,<NA>,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish,4.885285
2,2022-01-03,Panasonic,<NA>,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish,3.409401
3,2022-01-04,Tencent,Automotive,98.851663,101.303783,96.998218,98.851663,153694,5.577481e+11,14.582696,1.377740,0.036166,0.705853,Stable,4.305565
4,2022-01-05,Wells Fargo,Automotive,98.391118,99.990486,96.230707,98.391118,169879,8.607714e+11,37.491114,3.110198,0.034770,-0.768354,Stable,3.759780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-09-22,Pfizer,Energy,121.428608,123.693983,119.425495,121.428608,54757,4.469189e+10,22.313632,0.083782,0.018820,0.627218,Stable,4.268488
996,2024-09-23,Panasonic,Consumer Goods,122.302376,124.731488,120.182416,122.302376,69097,1.116972e+11,22.945209,3.395996,0.017438,0.429906,Bullish,4.549072
997,2024-09-24,Goldman Sachs,Energy,120.638302,122.485538,118.135033,120.638302,191467,5.989330e+11,21.854227,0.382841,0.048033,-0.502406,Bearish,4.350505
998,2024-09-25,Lyft,Aerospace,120.228806,123.124765,117.959012,120.228806,197313,9.591669e+10,27.240528,2.103806,0.018396,0.820433,Bullish,5.165752
999,2024-09-26,Boeing,Energy,120.558294,123.699478,117.628380,120.558294,153892,3.766169e+11,8.175260,3.008411,0.020437,-0.691168,Bullish,6.071098

### Operacje matematyczne

SELECT col1 + col2
FROM table;

In [35]:
table["High"] - table["Low"]

0      3.558311
1      4.885285
2      3.409401
3      4.305565
4      3.759780
         ...
995    4.268488
996    4.549072
997    4.350505
998    5.165752
999    6.071098
Length: 1000, dtype: float64

### Limit wyników

SELECT *
FROM table
LIMIT 5;

In [36]:
table.head(5)

,Date,Company,Sector,Open,High,Low,Close,Volume,Market_Cap,PE_Ratio,Dividend_Yield,Volatility,Sentiment_Score,Trend,new_col
0,2022-01-01,Uber,<NA>,100.000000,101.036120,97.477809,100.000000,171958,5.156585e+11,24.253218,0.163090,0.047484,0.939232,Bearish,3.558311
1,2022-01-02,Tesla,<NA>,100.071106,102.037960,97.152675,100.071106,196867,9.755658e+11,18.602848,0.288515,0.022472,0.469417,Bearish,4.885285
2,2022-01-03,Panasonic,<NA>,99.857828,101.517497,98.108097,99.857828,181932,4.595300e+11,10.728933,2.221827,0.019991,0.399193,Bullish,3.409401
3,2022-01-04,Tencent,Automotive,98.851663,101.303783,96.998218,98.851663,153694,5.577481e+11,14.582696,1.377740,0.036166,0.705853,Stable,4.305565
4,2022-01-05,Wells Fargo,Automotive,98.391118,99.990486,96.230707,98.391118,169879,8.607714e+11,37.491114,3.110198,0.034770,-0.768354,Stable,3.759780

### Unikalne wartości

SELECT DISTINCT col
FROM table;

In [37]:
table["Company"].unique()

array(['Uber', 'Tesla', 'Panasonic', 'Tencent', 'Wells Fargo', 'Snapchat',
       'Adobe', 'Oracle', 'Novartis', 'Microsoft', 'Citigroup', 'HSBC',
       'Morgan Stanley', 'AstraZeneca', 'Moderna', 'Apple', 'Square',
       'Ferrari', 'PayPal', 'BP', 'Salesforce', 'Shell', 'Lamborghini',
       'Sony', 'Meta', 'Boeing', 'Lyft', 'IBM', 'Toyota', 'ExxonMobil',
       'Goldman Sachs', 'Intel', 'Chevron', 'Bank of America', 'LG',
       'AMD', 'Visa', 'Airbus', 'Mercedes-Benz', 'Nvidia', 'BMW',
       'SpaceX', 'Pfizer', 'Spotify', 'Netflix', 'TotalEnergies',
       'Samsung', 'Google', 'Roche', 'MasterCard', 'Ford',
       'Northrop Grumman', 'Amazon', 'General Motors', 'Alibaba',
       'Twitter', 'Lockheed Martin', 'Gilead Sciences', 'Porsche',
       'Johnson & Johnson', 'JPMorgan Chase', 'Raytheon', 'Honda'],
      dtype=object)